*{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{

    background-color: #4e9ded;
}

.wrapper{

    width: 1500px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100px);
    padding-left: 320px;

}

.wrapper .board{

    width: 700px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.board > .cell{

    width: 200px;
    height: 200px;
    border: 1px solid #0b7aea;
    background-color: #242526;
    color: #fff;
    font-family: sans-serif;
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

.cell.hover{

    cursor: pointer;
    background-color: #b2ca29;
}

.cell.winner{
   width: 200px;
    height: 200px;
    border: 1px solid #0b7aea;
    background-color: #58e332;
    color: #fff;
    font-family: sans-serif;
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;

}


.btns{
    width: 300px;
    height: 200px;
    visibility: hidden;
   
}

.btns.show{

    visibility: visible;
}

.btns > button{

    width: 130px;
    height: 60px;
    border: none;
    cursor: pointer;
    background-color: gold;
    font-family: sans-serif;
    border-radius: 10px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    transform: translateY(20px);
}

.btns > button:hover{

    background-color: green;
    color: #fff;
}



.btns > h1{
 font-size: 30px;
    letter-spacing: 1px;
    font-weight: bold;
     font-family: sans-serif;


}



